page-backgroundcolor-picker {
    .full-width {
        width: 100%;
        margin: 16px 0;
    }
    .font-size {

    }
    .bg-card {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
