// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$primary-bg-color: #006064;
$secondary-bg-color: #27e4ea;//#0cc2d2
$primary-font-color: #ffffff;
$secondary-font-color: #333;

.toolbar-background, .tabbar.show-tabbar {
    background-color: $secondary-bg-color;
}

.tabbar.show-tabbar {
    & .tab-button[aria-selected=true] {
        color: $primary-font-color;
        & .tab-button-icon {
            color: inherit;
        }
    }
    & .tab-button {
        .tab-button-icon {
            color: rgb(15, 138, 148);
        }
    }
}

.toolbar-title {
    color: $primary-font-color;
}

.online-green {
    color: green;
}

.font-xsmall {
    font-size: .9rem;
}

.mh-300 {
    min-height: 300px;
}

.comman-alert {
    & .alert-head {
        padding: 15px 20px 15px;
        background-color: #3dd3f5;
        color: white;
        & .alert-title {
            font-size: 16px;
        }
    }
    
    & .alert-message {
        font-size: 13px;
        padding: 15px 20px 20px;
    }
    & .alert-button-group {
        padding: 8px 8px 8px 15px;
        & .alert-button {
            font-size: 13px;
        }
    }
}

.font-small {
    font-size: 1.1rem !important;
}

.sup-01 {
    top: -.1em;
}

.bg-f1f1f1 {
    background-color: #f1f1f1;
}

.chat-header {
    background-color: transparent;
    &.item {
        ion-avatar {
            margin: 8px 8px 8px 8px;
        }
        .item-inner {
            border-bottom: 0;
            .label {
                color: #ffffff;
                margin: 0;
                & h2 {
                    font-size: 1.5rem;
                }
            }
            .action-btn {
                &.item-button {
                    font-size: 2rem;
                    color: white;
                }
            }
        }
    }
}

$actionsheet-color: #424242;
.image {
    &.image-color {
        color: $actionsheet-color;
        & ion-icon {
            color: #32db64;
        }
    }
}

.navigate {
    &.navigate-color {
        color: $actionsheet-color;
        & ion-icon {
            color: #de1a3d;
        }
    }
}

.post-footer-icon {
    ion-icon {
        padding: 0 0.3em;
    }
}

.post-all-tags {
    white-space: normal;
}

.post-container {
    min-height: 400px;
    padding: .9em;
    margin: .5em auto;
}

.post-inline, .post-text {
    display: inline;
    font-size: .8em;
}

.item .post-inline {
    font-weight: 500;
}



.contact {
    &.contact-color {
        color: $actionsheet-color;
        & ion-icon {
            color: #ea0c71;
        }
    }
}

.attachement {
    &.attach-color {
        color: $actionsheet-color;
        & ion-icon {
            color: #42c3eb;
        }
    }
}

.img-auto {
    width: auto;
    min-width: 100%;
    height: auto;
    max-height: 240px;
}

.font-emoji {
    font-size: 3.5rem;
}

.font-medium {
    font-size: 1.3rem !important;
}

.call-bg-color {
    background-color: #1ac0e2;
}

.chat-bg-color {
    background-color: #0fc5cc;
}

.post-icon-color {
    color: #38a1e1;
}

.post-icon-like {
    color: #ef0d49;
}

.post-fab {
    background-color: #0ac3de;
}

.back-button.bar-button-default {
    & .back-button-icon {
        color: white;
    }
}

.post-icon-share {
    color: #f53d3d;
}

.text-capitalize {
    text-transform: capitalize;
}

.margin-0 {
    margin: 0;
}
.padding-0 {
    padding: 0;
}